.breadcrumbs {
  margin-bottom: 20px;
  .breadcrumbs_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      overflow: hidden;
      margin-bottom: 5px;
    }
    li a {
      color: #000;
      text-decoration: none;
      font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
      &:hover {
        color: $color-orange;
      }
    }
    li p {
      color: #000;
      opacity: 0.4;
      font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
    }
    li span {
      margin: 0 5px;
    }
    .disabled {
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 2px;
    }
  }
}

.bc_box {
  margin-bottom: 0;
  padding-bottom: 0;
}

.bc_back {
  display: flex;
  align-items: center;
  svg {
    margin-right: 6px;
    width: 6px;
  }
  span {
    font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
  }
}

.mobile {
  display: none;
}

